@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Architects Daughter', cursive, sans-serif;
  width: 70vw;  
  margin: 2rem auto;
  background-color: #ffffca;
  text-align: center;
}

.image{
  position: relative;  
}

img{
  opacity: 0.4;  
  border-bottom: 1px solid #535353;
  box-shadow: 3px 4px 6px #000000;
  
}

.quote{
  position: absolute;
  bottom: .1rem;
  background-color: transparent;
  text-align: center;  
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
}

.quote h1{
  background-color: transparent;
  letter-spacing: 0.2rem;
}

.quote p{
  background-color: transparent;
  letter-spacing: 0.2rem;
}
